body {
  font-family: "Roboto", sans-serif;
  background-color: #4c43d4;
  color: #fff;
  padding: 0;
  margin: 0;
}

.mt-2 {
  margin-top: 2rem;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-lightgreen {
  color: #12e177;
}

.text-lightred {
  color: #ff4d4d;
}

.text-lightblue {
  color: #4c43d4;
}

.text-lighttomato {
  color: #ff6347;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.w-full {
  width: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

button {
  background: none;
  border: none;
  outline: none;
}
button:hover {
  cursor: pointer;
}

.btn {
  font-size: 1rem;
  color: #fff;
  border-radius: 15px;
  padding: 12px 18px;
  margin-top: 25px;
  transition: all 0.2s;
  background-color: #4c43d4;
  box-shadow: 0px 0px 0px 1px #ffc72a;
}
.btn.active {
  background-color: #ffc72a;
  box-shadow: none;
}

.btn-outline-dark {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}
.btn-outline-dark:hover {
  background-color: #fff;
  color: #4c43d4;
}

.app {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-green {
  color: #12e177;
}

.text-orange {
  color: #ffc72a;
}

.history-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 3rem;
  text-transform: uppercase;
  text-shadow: 0px 0px 0px 1px #fff;
}

.op-5 {
  opacity: 0.5;
}

.status-message {
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-weight: lighter;
}
.status-message span {
  font-weight: normal;
}

.btn-reset {
  font-size: 0.8rem;
  color: #fff;
  border-radius: 15px;
  padding: 12px 18px;
  margin-top: 25px;
  transition: all 0.2s;
  background-color: #4c43d4;
  box-shadow: 0px 0px 0px 1px #ffc72a;
}
.btn-reset.active {
  background-color: #ffc72a;
  box-shadow: none;
}

.board .board-row {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #fff;
}
.board .board-row:last-child {
  border-bottom: none;
}
.board .board-row .square {
  width: 80px;
  height: 80px;
  border-right: 2px solid #fff;
  font-size: 2.5rem;
  padding: 0;
  overflow: hidden;
  transition: all 0.2s;
}
.board .board-row .square:last-child {
  border-right: none;
}
.board .board-row .square.winning {
  animation: scaleText 1.4s infinite;
}
@keyframes scaleText {
  0% {
    transform: 2.5rem;
  }
  50% {
    font-size: 3.5rem;
  }
  100% {
    font-size: 2.5rem;
  }
}

li {
  list-style: none;
  text-align: left;
}
li:before {
  content: "";
  border-radius: 50%;
  display: inline-block;
  height: 5px;
  width: 5px;
  background-color: #12e177;
  margin-right: 4px;
  margin-bottom: 1px;
}

.history-btn {
  font-size: 0.86rem;
  color: #fff;
  border-radius: 2.2rem;
  padding: 4px 9px;
  margin-top: 1rem;
  transition: all 0.2s;
  background-color: #4c43d4;
  box-shadow: 0px 0px 0px 1px #ffc72a;
}
.history-btn.active {
  background-color: #ffc72a;
  box-shadow: none;
  color: #000;
}

/*# sourceMappingURL=styles.css.map */
